<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ManageCustomer</servlet-name>
        <servlet-class>ManageCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCustomerControl</servlet-name>
        <servlet-class>control.ManageCustomerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCarControl</servlet-name>
        <servlet-class>control.ManageCarControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffControl</servlet-name>
        <servlet-class>control.ManageStaffControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCar</servlet-name>
        <servlet-class>ManagerControl.DeleteCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCar</servlet-name>
        <servlet-class>ManagerControl.LoadCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCus</servlet-name>
        <servlet-class>ManagerControl.DeleteCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCarControl</servlet-name>
        <servlet-class>ManagerControl.EditCarControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>ManagerControl.AddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCarControl</servlet-name>
        <servlet-class>control.DetailCarControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>CustomerControl.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>control.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStatisticControl</servlet-name>
        <servlet-class>control.ManageStatisticControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffControl</servlet-name>
        <servlet-class>ManagerControl.DeleteStaffControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffControl</servlet-name>
        <servlet-class>ManagerControl.EditStaffControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageCustomer</servlet-name>
        <url-pattern>/ManageCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCustomerControl</servlet-name>
        <url-pattern>/ManageCustomerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCarControl</servlet-name>
        <url-pattern>/ManageCarControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffControl</servlet-name>
        <url-pattern>/ManageStaffControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCar</servlet-name>
        <url-pattern>/deleteCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCar</servlet-name>
        <url-pattern>/loadCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCus</servlet-name>
        <url-pattern>/deleteCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCarControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCarControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/CartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStatisticControl</servlet-name>
        <url-pattern>/ManageStatisticControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffControl</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffControl</servlet-name>
        <url-pattern>/editStaff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
